<div class="flex flex-col min-h-screen">
  <div class="container">
    <app-navbar></app-navbar>
  </div>

  <div class="flex-grow mt-16 bg-green-100">
    <div
      class="grid lg:grid-cols-3 items-center max-lg:justify-center h-full py-6 px-16 max-sm:px-4 bg-green-100"
    >
      <div class="max-w-lg max-lg:mx-auto text-center max-lg:mb-6">
        <h2>Let's chat!</h2>
        <p class="text-sm mt-4">
          Have a specific inquiry? Our experienced team is ready to engage with
          you.
        </p>
        <form #messageForm class="mx-auto mt-8 bg-white rounded-lg py-6 px-4 shadow-md"
        (submit)="onFormSubmit()">
          <input
            type="text"
            placeholder="Name"
            class="w-full rounded-md h-12 px-6 bg-[#f0f1f2] text-sm mb-4 focus:ring-yellow-400 focus:border-yellow-400"
          />
          <input
            type="email"
            placeholder="Email"
            class="w-full rounded-md h-12 px-6 bg-[#f0f1f2] text-sm mb-4 focus:ring-yellow-400 focus:border-yellow-400"
          />
          <input
            type="text"
            placeholder="Subject"
            class="w-full rounded-md h-12 px-6 bg-[#f0f1f2] text-sm mb-4 focus:ring-yellow-400 focus:border-yellow-400"
          />
          <textarea
            placeholder="Message"
            rows="6"
            class="w-full rounded-md px-6 bg-[#f0f1f2] text-sm pt-3 focus:ring-yellow-400 focus:border-yellow-400"
          ></textarea>
          <button
            type="submit"
            
            class="text-white bg-yellow-400 hover:bg-orange-800 font-medium rounded-md text-sm px-6 py-3 block w-full mt-3"
          >
            Send Message
          </button>
          <div *ngIf="messageSent" class="text-teal-800 mt-6 text-xl">
            <b>Message sent!</b>
          </div>
        </form>
      </div>
      <div class="z-10 relative lg:col-span-2">
        <img src="https://readymadeui.com/contact.webp" class="w-full" />
      </div>
    </div>
    
  </div>
  <app-footer> </app-footer>
</div>
