<p>products works!</p>

<!-- if loading/loaded -->
<ng-template *ngIf="hasLoaded; then loaded else loading"></ng-template>

<!-- loading -->
<ng-template #loading>
    Loading...
</ng-template>

<!-- loaded -->
<ng-template #loaded>
    
  <div class="border-solid border-8 border-white p-2 grid grid-cols-4 gap-4">
    <div class="rounded-3xl shadow-xl p-5 grid grid-cols-subgrid gap-4 col-span-3 bg-gray-100">
      <div class="col-start-2 ">

        <!-- products display -->
        <div class="flex-auto rounded-3xl pt-3 shadow-2xl">
          @for (product of products; track $index) {
    
            <!-- category display -->
            @if (first_time == true ) {
              {{not_fisrt_time(product.category)}}
            }
    
            @if (category != product.category) {
              <p class="mt-1 pl-2 text-orange-600 font-bold">{{product.category}}</p>
              <hr>
              {{categoryChanger(product.category)}}
            }
            
            <!-- NEED: we lead color -->
            <!-- name/price  -->
            <div class="group bg-white hover:bg-cyan-400 ring-2 ring-gray-100 hover:ring-cyan-300 rounded-3xl m-2">
              <div class="flex-col rounded-lg p-4">
                  <a href="#" class="flex-1 font-semibold text-gray-900 ">
                    {{product.id}}. {{product.name}} 
                  </a>
                  
                  <a class="group/edit invisible group-hover/item:visible">
                    <p class="group-hover/edit:text-gray-700">Add</p>
                  </a> 
                  
                  <p class="flex-2 text-gray-600">{{product.price}}$</p>


                </div>
              </div>
              <hr>
          }
        </div>
      </div>
    </div>

    <!-- cart section -->
    <div class="rounded-3xl pt-3 shadow-xl bg-gray-100">
        <!-- cart -->
        <!-- <app-cart></app-cart> -->
    </div>
  </div>

<!--   ??
  {{test()}} -->
  
</ng-template>  





  