<div class="flex-auto">
  <footer class="bg-white rounded-md shadow m-1">
    <div
      class="w-full mx-0 mr-max-w-screen-xl p-4 flex flex-wrap items-center justify-between md:flex-row md:items-center"
    >
      <span class="text-sm text-gray-500 sm:text-center"
        >© 2023 Created by
        <a routerLink="/aboutUs" class="hover:underline">We Feed</a>
      </span>
      <ul
        class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
      >
        <li>
          <a
          routerLink="/aboutUs"
          routerLinkActive="active-link" class="hover:underline me-4 md:me-6">About Us</a>
        </li>
        <li>
          <a
          routerLink="/FAQs"
          routerLinkActive="active-link" class="hover:underline me-4 md:me-6">FAQs</a>
        </li>
        <li>
          <a
          routerLink="/howItWorks"
          routerLinkActive="active-link" class="hover:underline">How it works</a>
        </li>
      </ul>
    </div>
  </footer>
</div>
