<nav class="bg-teal-800 fixed w-full z-20 top-0">
  <div
    class="mr-max-w-screen-xl flex flex-wrap items-center justify-between p-4"
  >
    <a
      routerLink="/home"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img
        src="assets/images/logo.png"
        alt="WeFeedLogo"
        class="h-13 w-20 mr-8 rounded-lg"
      />
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <div class="ml-auto">
        <ng-container *ngIf="!username; else signedIn">
          <a routerLink="/signUp" routerLinkActive="active-link">
            <button
              type="button"
              class="bg-yellow-400 hover:bg-orange-800 hover:border-orange-800 text-white text-sm font-bold py-2 px-4 border-yellow-400 rounded"
            >
              Sign Up
            </button>
          </a>
        </ng-container>
        <ng-template #signedIn>
          <!-- Dropdown Button for logged-in users -->
          <div class="relative inline-block text-left">
            <button
              type="button"
              class="bg-teal-800 border hover:bg-purple-400 hover:border-purple-400 text-white text-sm font-medium py-2 px-6 border-purple-400 rounded"
              id="dropdownButton"
              (click)="toggleDropdown()"
              aria-haspopup="true"
              aria-expanded="true"
            >
              Hi.. {{ username }}!
            </button>
            <div
              *ngIf="isDropdownOpen"
              class="origin-top-right absolute right-0 mt-2 w-15 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none border border-teal-700 rounded"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="dropdownButton"
            >
              <a
                routerLink="/orderHistory"
                routerLinkActive="active-link"
                class="py-2 px-3 bg-gray-100 text-teal-700 hover:bg-gray-300 hover:border-purple-400 hover:text-purple-500 text-sm font-bold"
              >
                My Orders
              </a>
              <div
                class="py-2 px-3 bg-gray-100 text-teal-700 hover:bg-gray-300 hover:border-purple-400 hover:text-purple-500 text-sm font-bold"
                role="none"
              >
                <a href="#" class="py-0" role="menuitem" (click)="logout()">
                  Log Out
                </a>
              </div>
            </div>
          </div>
        </ng-template>
      </div>

      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-orange-50 border-orange-50 hover:text-yellow-400 hover:border-yellow-400 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="navbar-sticky"
        aria-expanded="false"
        (click)="toggleNavbar()"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 w-full block flex-grow lg:flex mr-8 lg:items-center lg:w-auto"
      id="navbar-sticky"
      [ngClass]="{ hidden: isNavbarCollapsed }"
    >
      <ul
        class="flex flex-col p-1 md:p-0 mt-2 font-medium rounded-lg bg-teal-800 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
      >
        <li>
          <a
            routerLink="/main"
            routerLinkActive="active-link"
            class="block mt-1 lg:inline-block lg:mt-1 text-orange-50 hover:text-yellow-400"
            aria-current="page"
            >Stores</a
          >
        </li>
        <li>
          <a
            routerLink="/contactus"
            routerLinkActive="active-link"
            class="block mt-1 lg:inline-block lg:mt-1 text-orange-50 hover:text-yellow-400"
            aria-current="page"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
