<div class="m-24 text-gray-700">
  <h1>
    About
    <div class="name inline-block mx-1">We Feed</div>
  </h1>
  <div class="m-10 text-gray-600 dark:text-gray-400">
    <h2>
      What is
      <div class="name inline-block mx-1">We Feed</div>
      ?
    </h2>
    <p class="m-6 text-gray-500 dark:text-gray-400">
      We Feed is dedicated to revolutionizing your food ordering experience.
      Collaborating with top-tier restaurants, ranging from local gems to
      nationally acclaimed favorites, we bring the flavors you adore straight to
      your doorstep. Boasting an extensive array of culinary options and
      supported by our dedicated team of delivery riders, we ensure swift
      delivery, striving to have your order in your hands as promptly as
      possible.
    </p>
  </div>
</div>
