<div class="m-24 text-gray-700">
    <h1>About <div class="name inline-block mx-1">We Feed</div> </h1>
<div class="m-10 text-gray-600 dark:text-gray-400">
    <h2>What is <div class="name inline-block mx-1">We Feed</div>?</h2>
    <p class="m-6 text-gray-500 dark:text-gray-400">
      We Feed is on a mission to transform the way you order food. We partner
      with the best restaurants in the business °from local hotspots to
      national favourites° and bring you the food you love, right to your door.
      With thousands of choices and a fleet of our own delivery riders, we’ll
      have your order with you in as soon as possible.
    </p>
  </div>
</div>