<div class="flex flex-col">
  <div class="container">
    <app-navbar></app-navbar>
  </div>

  <div class="mt-16">
    <div
      class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat bg-center lg:mt-0 mb-10 m-10 p-4 m-0"
      style="
        background-image: url(/assets/images/aboutUs.jpg);
        height: 500px;
        background-size: contain;
      "
    ></div>
    <div class="m-24 text-gray-700">
      <h1>
        About
        <div class="name inline-block mx-1">We Feed</div>
      </h1>
      <div class="m-10 text-gray-600 dark:text-gray-400">
        <h2 class="inline-block mx-1 ">
          What is
          <div class="name inline-block mx-1 ">We Feed</div>
          ?<img src="assets/images/deliveryIcon.png " class="inline-block mx-1 " style=" width: 36px; height: 36px;"/>
        </h2>
        <p class="m-24 text-gray-500">
          Welcome to We Feed, the epicenter where the passion for food
          seamlessly intertwines with unmatched convenience, crafting a culinary
          experience like no other! Our inception at We Feed stems from a
          profound desire to revolutionize the very essence of how you indulge
          in gastronomic delights. We transcend the conventional boundaries of a
          mere food delivery service, as our team comprises ardent culinary
          enthusiasts devoted to bringing an array of global flavors right to
          your doorstep.
        </p>
        <p class="m-24 text-gray-500">
          Our relentless commitment to excellence encompasses a trifecta of
          pillars: quality, variety, and efficiency. We've meticulously curated
          a diverse selection of culinary delights, establishing partnerships
          with top-tier restaurants that range from cherished local gems to
          nationally acclaimed favorites. At We Feed, we take pride in
          transforming your food ordering experience into a journey of discovery
          and delight.
        </p>
        <p class="m-24 text-gray-500">
          Supported by our dedicated team of delivery riders, we guarantee swift
          and reliable delivery, aiming to place your order in your hands with
          the promptness you deserve. Whether you find yourself yearning for the
          comfort of a home-cooked meal, eager to explore exotic dishes, or in
          need of a quick bite on the go, We Feed stands as your unwavering
          companion. But we're more than just a delivery service; we are
          architects of experiences, passionate about ensuring that every meal
          is an event. Join us in celebrating the joy of good food, delivered
          right to your door, because at We Feed, we don't just deliver meals;
          we craft lasting memories.
        </p>
      </div>
      <div class="m-10 text-gray-600">
        <h2>
          <div class="name inline-block mx-1">We Feed's</div>
          future vision 🎯
        </h2>
        <p class="m-6 text-gray-500">
          At We Feed, our future vision is to continue pioneering a revolution
          in the way people experience and enjoy food. We envision a seamless
          fusion of cutting-edge technology, culinary innovation, and
          sustainable practices, ensuring that our platform remains at the
          forefront of the evolving food industry. We are committed to expanding
          our offerings, embracing emerging food trends, and continually
          enhancing the diversity of our partner restaurants. As we look ahead,
          We Feed aims to deepen our engagement with local communities,
          fostering connections and supporting initiatives that contribute to
          the well-being of both customers and the environment. Our commitment
          to excellence extends beyond delivering meals; we aspire to be a
          driving force in shaping a future where every dining experience is not
          only convenient but also enriching, memorable, and aligned with the
          values of a global community. Join us on this exciting journey as we
          evolve and elevate the way you savor the world's flavors.
        </p>
      </div>
      <div class="m-10 text-gray-600">
        <h2>
          <div class="name inline-block mx-1">We Feed's</div>
          commitment: Elevating Experiences, Nourishing Connections 🛎️
        </h2>
        <p class="m-6 text-gray-500">
          At We Feed, our core values and guiding principles form the
          foundation of our commitment to excellence in the food delivery
          industry. We prioritize transparency, integrity, and reliability,
          ensuring that every interaction with our platform is rooted in honesty
          and trust. What sets our food delivery service apart is our unwavering
          dedication to customer satisfaction, coupled with a deep appreciation
          for culinary diversity. We celebrate inclusivity by embracing a wide
          array of cuisines and partnering with local restaurants to offer a
          diverse menu. Our commitment to sustainability is reflected in
          eco-friendly packaging options, further emphasizing our responsibility
          towards the environment. At the heart of our philosophy lies the
          belief that food not only nourishes the body but also brings people
          together. We are driven by the passion to connect communities through
          delightful culinary experiences, making We Feed not just a
          food delivery service but a celebration of flavors, cultures, and
          shared moments.
        </p>
      </div>
    </div>
    <app-footer> </app-footer>
  </div>
</div>
