<div class="cards flex flex-wrap m-14">
  <h2>
    Why order with
    <div class="name inline-block">We Feed</div>
  </h2>

  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-10 mb-4 text-center"
  >
    <a routerLink="/main" routerLinkActive="active-link">
      <div class="flex justify-center">
        <div class="w-56 h-56">
          <img
            class="rounded-full w-full h-full object-cover"
            src="/assets/images/bite.avif"
            alt="A woman bites a slice of pizza"
          />
        </div>
      </div>
    </a>
    <div class="p-5">
      <a routerLink="/main" routerLinkActive="active-link">
        <h3 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">
          <b>Discover Time in Every Bite </b>
        </h3>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Enjoy convenience by ordering from home, saving time for what matters
        most.
      </p>
    </div>
  </div>

  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-10 mb-4 text-center"
  >
    <a routerLink="/main" routerLinkActive="active-link">
      <div class="flex justify-center">
        <div class="w-56 h-56">
          <img
            class="rounded-full w-full h-full object-cover"
            src="/assets/images/24hclock.png"
            alt="24 Hours Clock"
          />
        </div>
      </div>
    </a>
    <div class="p-5">
      <a routerLink="/main" routerLinkActive="active-link">
        <h3 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">
          <b>From Dawn to Dusk, Your Menu Never Closes</b>
        </h3>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Access a world of choices 24/7, tailored to your cravings day or night.
      </p>
    </div>
  </div>

  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-10 mb-4 text-center"
  >
    <a routerLink="/main" routerLinkActive="active-link">
      <div class="flex justify-center">
        <div class="w-56 h-56">
          <img
            class="rounded-full w-full h-full object-cover"
            src="/assets/images/orderfood.jpg"
            alt="Food Delivery Bag"
          />
        </div>
      </div>
    </a>
    <div class="p-5">
      <a routerLink="/main" routerLinkActive="active-link">
        <h3 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">
          <b>Your Order, Your Rules: Customize, Delight, Repeat</b>
        </h3>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Dive into a diverse selection, tailor your order, and savor every
        personalized bite.
      </p>
    </div>
  </div>
</div>
