<div class="mx-14">
  <h1>
    Why order with
    <div class="name inline-block mx-1">We Feed</div>
  </h1>

  <div class="cards flex flex-wrap justify-center mb-40">
    <div
      class="max-w-sm pt-6 bg-white border border-gray-200 rounded-lg shadow mt-20 mb-4 m-4 text-center lg:mx-4 justify-center hover:bg-gray-100"
    >
      <a routerLink="/main" routerLinkActive="active-link">
        <div class="flex justify-center">
          <div class="w-56 h-56">
            <img
              class="rounded-full w-full h-full object-cover"
              src="/assets/images/bite.avif"
              alt="A woman bites a slice of pizza"
            />
          </div>
        </div>
      </a>
      <div class="p-5">
        <a routerLink="/main" routerLinkActive="active-link">
          <h3 class="mb-2 text-2xl tracking-tight text-gray-900">
            <b>Discover Time in Every Bite </b>
          </h3>
        </a>
        <p class="mb-3 font-normal text-gray-700">
          Enjoy convenience by ordering from home, saving time for what matters
          most.
        </p>
      </div>
    </div>

    <div
      class="max-w-sm pt-6 bg-white border border-gray-200 rounded-lg shadow mt-20 mb-4 m-4 text-center lg:mx-4 justify-center hover:bg-gray-100"
    >
      <a routerLink="/main" routerLinkActive="active-link">
        <div class="flex justify-center">
          <div class="w-56 h-56">
            <img
              class="rounded-full w-full h-full object-cover"
              src="/assets/images/24hclock.png"
              alt="24 Hours Clock"
            />
          </div>
        </div>
      </a>
      <div class="p-5">
        <a routerLink="/main" routerLinkActive="active-link">
          <h3 class="mb-2 text-2xl tracking-tight text-gray-900">
            <b>From Dawn to Dusk, Your Menu Never Closes</b>
          </h3>
        </a>
        <p class="mb-3 font-normal text-gray-700">
          Access a world of choices 24/7, tailored to your cravings day or
          night.
        </p>
      </div>
    </div>

    <div
      class="max-w-sm pt-6 bg-white border border-gray-200 rounded-lg shadow mt-20 mb-4 m-4 text-center lg:mx-4 justify-center hover:bg-gray-100"
    >
      <a routerLink="/main" routerLinkActive="active-link">
        <div class="flex justify-center">
          <div class="w-56 h-56">
            <img
              class="rounded-full w-full h-full object-cover"
              src="/assets/images/orderfood.jpg"
              alt="Food Delivery Bag"
            />
          </div>
        </div>
      </a>
      <div class="p-5">
        <a routerLink="/main" routerLinkActive="active-link">
          <h3 class="mb-2 text-2xl tracking-tight text-gray-900">
            <b>Your Order, Your Rules: Customize, Delight, Repeat</b>
          </h3>
        </a>
        <p class="mb-3 font-normal text-gray-700">
          Dive into a diverse selection, tailor your order, and savor every
          personalized bite.
        </p>
      </div>
    </div>
  </div>
</div>
