<div class="bg-gradient-to-r from-teal-700 to-orange-50">
  <div
    class="w-9/12 m-auto py-16 min-h-screen flex items-center justify-center"
  >
    <div class="bg-white shadow overflow-hidden sm:rounded-lg pb-8">
      <div class="border-t border-gray-200 text-center pt-32">
        <h1 class="text-9xl font-bold text-orange-300">404</h1>
        <h1 class="text-4xl font-medium py-16">Oops! Page not found...</h1>
        <p class="text-2xl pb-12 px-16 font-medium">
          The page you are looking for does not exist. It might have been
          moved or deleted.
        </p>
        <a routerLink="/home" >
        <button
          class="bg-gradient-to-r from-purple-400 to-orange-300 hover:from-fuchsia-400  hover:to-red-500 text-white font-semibold px-6 py-3 rounded-md mr-6"
        >
          Home
        </button>
    </a>
    <a routerLink="/contactus">
        <button
          class="bg-gradient-to-r from-purple-400 to-orange-300 hover:from-fuchsia-400 hover:to-red-500  text-white font-semibold px-6 py-3 rounded-md"
        >
          Contact Us
        </button>
    </a>
      </div>
    </div>
  </div>
</div>
