<div class="mx-14 text-gray-600">
    <h1>
      Hear what
      <div class="name inline-block mx-1">We Feed's</div>
      customers love! 💜
    </h1>

    <div
      class="cards flex justify-center flex lg:flex-row md:flex-col sm:flex-col mb-40"
    >
      <div
        class="max-w-sm pt-6 bg-white border border-gray-200 rounded-full shadow mt-20 mb-4 m-4 text-center lg:mx-4 justify-center hover:bg-gray-100"
      >
        <div class="flex justify-center m-4">
          <div class="w-32">
            <img
              class="rounded-full w-full object-cover"
              src="/assets/images/customer1.jpg"
              alt="Portait of a girl"
            />
          </div>
        </div>

        <div class="p-6 m-4 text-center">
          <h3 class="mb-2 text-2xl tracking-tight text-gray-900">
            <b>Anna M. - Food Lover and Working Professional: </b>
          </h3>

          <p class="mb-3 font-normal text-gray-700">
            "We Feed has truly transformed my hectic workdays. The variety
            of culinary options and the speed of delivery have been a
            game-changer. I can now enjoy diverse, restaurant-quality meals
            without compromising on time. Thank you, We Feed, for making my
            dining experience both convenient and delightful!"
          </p>
        </div>
      </div>

      <div
        class="max-w-sm pt-6 bg-white border border-gray-200 rounded-full shadow mt-20 mb-4 m-4 text-center lg:mx-4 justify-center hover:bg-gray-100"
      >
        <div class="flex justify-center m-4">
          <div class="w-32">
            <img
              class="rounded-full w-full object-cover"
              src="/assets/images/customer2.jpg"
              alt="Portait of a girl"
            />
          </div>
        </div>

        <div class="p-6 m-4 text-center">
          <h3 class="mb-2 text-2xl tracking-tight text-gray-900">
            <b>Grace T. - New Resident in the City:</b>
          </h3>

          <p class="mb-3 font-normal text-gray-700">
            "Moving to a new city can be overwhelming, but We Feed made the
            transition smoother. Exploring local flavors through the app
            allowed me to discover hidden gems in my neighborhood. It's like
            having a personal guide to the best eateries in town. We Feed
            has truly been my culinary companion in this new chapter of
            life."
          </p>
        </div>
      </div>

      <div
        class="max-w-sm pt-6 bg-white border border-gray-200 rounded-full shadow mt-20 mb-4 m-4 text-center lg:mx-4 justify-center hover:bg-gray-100"
      >
        <div class="flex justify-center m-4">
          <div class="w-32">
            <img
              class="rounded-full w-full object-cover"
              src="/assets/images/customer3.jpg"
              alt="Portait of a girl"
            />
          </div>
        </div>

        <div class="p-6 m-4 text-center">
          <h3 class="mb-2 text-2xl tracking-tight text-gray-900">
            <b>Sarah L. - Health-conscious Consumer:</b>
          </h3>

          <p class="mb-3 font-normal text-gray-700">
            "We Feed has been a lifesaver for maintaining my healthy
            lifestyle. The app's options for nutritious and well-balanced
            meals from local restaurants align perfectly with my fitness
            goals. The quick and reliable delivery ensures I have the fuel I
            need after a workout without compromising on taste or
            nutrition."
          </p>
        </div>
      </div>

      <div
        class="max-w-sm pt-6 bg-white border border-gray-200 rounded-full shadow mt-20 mb-4 m-4 text-center lg:mx-4 justify-center hover:bg-gray-100"
      >
        <div class="flex justify-center m-4">
          <div class="w-32">
            <img
              class="rounded-full w-full object-cover"
              src="/assets/images/customer4.jpg"
              alt="Portait of a man"
            />
          </div>
        </div>

        <div class="p-6 m-4 text-center">
          <h3 class="mb-2 text-2xl tracking-tight text-gray-900">
            <b>John P. - Family Man and Weekend Explorer: </b>
          </h3>

          <p class="mb-3 font-normal text-gray-700">
            "As a busy dad, finding time to cook is a challenge. We Feed has
            become our go-to solution for family meals. From comforting
            home-cooked dishes to exploring new cuisines together, it has
            made family dinners an enjoyable experience. The convenience and
            diverse choices have brought us closer around the dinner table."
          </p>
        </div>
      </div>
    </div>
  </div>

