<div class="concept concept-six">
  <h1 class="word">
    <span class="char">W</span>
    <span class="char">e</span>
    <span class="char">F</span>
    <span class="char">e</span>
    <span class="char">e</span>
    <span class="char">D</span>
  </h1>

  
<div class="address-box">
  <div class="text-yellow-700 text-3xl"
  [ngClass]="{
    'animate-jump-in': true,
    'animate-once': true,
    'animate-duration-3000ms': true
  }">
    It's FOOD o'clock!
  </div> <br>
  <div class="relative">
    <svg
      viewBox="0 0 24 24"
      class="w-6 h-6 absolute top-1/2 transform -translate-y-1/2 left-3 text-gray-500"
      aria-hidden="true">
      <path
        class="fill-current"
        d="M6 9.5C6 12.813 8.687 15.5 12 15.5C15.312 15.497 17.997 12.813 18 9.5C18 6.187 15.313 3.5 12 3.5C8.687 3.5 6 6.187 6 9.5ZM2.5 9.5C2.506 4.256 6.756 0.006 12 0C17.244 0.006 21.493 4.255 21.5 9.499C21.5 16.044 14.958 21.987 12.958 23.653C12.402 24.114 11.597 24.114 11.041 23.653C9.037 21.987 2.5 16.044 2.5 9.5ZM14 9C14 10.1046 13.1046 11 12 11C10.8954 11 10 10.1046 10 9C10 7.89543 10.8954 7 12 7C13.1046 7 14 7.89543 14 9Z"
      ></path>
    </svg>
    <input
      id="street"
      type="text"
      placeholder="Enter delivery address"
      class="w-50 pl-10 pr-4 py-2 border rounded-md text-gray-700 leading-tight focus:outline-none focus:border-yellow-400 hover:border-yellow-400"
    />
  </div>
</div>
</div>
<p>
  Explore We Feed cities
  
  <ul class="list-image-none hover:list-image-[url(checkmark.png)]"> 
    <li>Athens</li>
    <li>Ioannina</li>
    <li>Thessaloniki</li>
  </ul>
</p>
