
  <div class="concept concept-six">
    <h1 class="word">
        <span class="char">F</span>
        <span class="char">O</span>
        <span class="char">O</span>
        <span class="char">D</span>
        <span class="char">I</span>
        <span class="char">E</span>
        <span class="char">S</span>
    </h1>
  <div class="relative bottom-100">
    <input id="street" type="text" placeholder="Enter delivery address" class="w-60 px-3 py-2 border rounded-md text-gray-700 leading-tight focus:outline-none focus:border-blue-500">
  </div>
  </div>
  <!-- <div class="mb-2"> -->
    <!-- <label for="street" class="block text-gray-700 text-sm font-bold mb-2">Street Address</label> -->
    <!-- <input id="street" type="text" placeholder="Enter delivery address" class="w-full px-3 py-2 border rounded-md text-gray-700 leading-tight focus:outline-none focus:border-blue-500">
  </div> -->
