<div class="concept concept-six">
  <h1 class="word">
    <span class="char">W</span>
    <span class="char">e</span>
    <span class="char">F</span>
    <span class="char">e</span>
    <span class="char">e</span>
    <span class="char">D</span>
  </h1>

  <div class="address-box">
    <div
      class="text-yellow-50 text-3xl"
      [ngClass]="{
        'animate-jump-in': true,
        'animate-once': true,
        'animate-duration-3000ms': true
      }"
    >
      It's FOOD o'clock!
    </div>
    <br />
    <div class="relative">
      <svg
        viewBox="0 0 24 24"
        class="w-6 h-6 absolute top-1/2 transform -translate-y-1/2 left-3 text-gray-500"
        aria-hidden="true"
      >
        <path
          class="fill-current"
          d="M6 9.5C6 12.813 8.687 15.5 12 15.5C15.312 15.497 17.997 12.813 18 9.5C18 6.187 15.313 3.5 12 3.5C8.687 3.5 6 6.187 6 9.5ZM2.5 9.5C2.506 4.256 6.756 0.006 12 0C17.244 0.006 21.493 4.255 21.5 9.499C21.5 16.044 14.958 21.987 12.958 23.653C12.402 24.114 11.597 24.114 11.041 23.653C9.037 21.987 2.5 16.044 2.5 9.5ZM14 9C14 10.1046 13.1046 11 12 11C10.8954 11 10 10.1046 10 9C10 7.89543 10.8954 7 12 7C13.1046 7 14 7.89543 14 9Z"
        ></path>
      </svg>
      <input
        id="street"
        type="text"
        placeholder="Enter delivery address"
        class="w-50 pl-10 pr-4 py-2 border rounded-md text-gray-700 leading-tight focus:outline-none focus:border-yellow-400 hover:border-yellow-400"
      />
    </div>
  </div>
</div>
<!-- Top 10 Stores -->
<div class="flex flex-col bg-white m-auto p-auto">
  <h2 class="flex py-5 lg:px-20 md:px-10 px-5 lg:mx-40 md:mx-20 mx-5 text-4xl">
    Most Popular Choices
  </h2>
  <div class="flex overflow-x-scroll hide-scroll-bar" #scrollContainer>
    <div class="flex" #cardWrapper>
      <div *ngFor="let card of cardsData" class="inline-block px-3">
        <a routerLink="/stores/id" routerLinkActive="active-link">
          <div
            class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out text-center"
          >
            <img src="{{ card.image }}" alt=".." />
            <h3>
              <b>{{ card.name }}</b>
            </h3>
            <p>&#9733;{{ card.rating.rate }} ({{ card.rating.count }})</p>
            <p>{{ card.address }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Explore We Feed Cities -->
<div class="container max-w-full overflow-x-auto my-12">
  <h2>
    Explore
    <div class="name inline-block">We Feed</div>
    cities
  </h2>

  <ul class="flex flex-wrap p-0 m-0 list-none">
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center"
    >
      <button
        class="bg-white hover:bg-teal-700 hover:text-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Athens
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center"
    >
      <button
        class="bg-white hover:bg-teal-700 hover:text-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Chalkida
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center"
    >
      <button
        class="bg-white hover:bg-teal-700 hover:text-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Heraklion
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center"
    >
      <button
        class="bg-white hover:bg-teal-700 hover:text-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Ioannina
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center"
    >
      <button
        class="bg-white hover:bg-teal-700 hover:text-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Kavala
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center"
    >
      <button
        class="bg-white hover:bg-teal-700 hover:text-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Lamia
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center"
    >
      <button
        class="bg-white hover:bg-teal-700 hover:text-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Larissa
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center"
    >
      <button
        class="bg-white hover:bg-teal-700 hover:text-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Patra
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center"
    >
      <button
        class="bg-white hover:bg-teal-700 hover:text-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Rethymno
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center"
    >
      <button
        class="bg-white hover:bg-teal-700 hover:text-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Serres
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center"
    >
      <button
        class="bg-white hover:bg-teal-700 hover:text-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Thessaloniki
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center"
    >
      <button
        class="bg-white hover:bg-teal-700 hover:text-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Volos
      </button>
    </li>
  </ul>
</div>
<!-- Why order with We Feed -->
<div class="cards flex flex-wrap m-12">
  <h2>
    Why order with
    <div class="name inline-block">We Feed</div>
  </h2>

  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-10 mb-4 text-center"
  >
    <a routerLink="/main" routerLinkActive="active-link">
      <div class="flex justify-center">
        <div class="w-56 h-56">
          <img
            class="rounded-full w-full h-full object-cover"
            src="/assets/images/bite.avif"
            alt="A woman bites a slice of pizza"
          />
        </div>
      </div>
    </a>
    <div class="p-5">
      <a routerLink="/main" routerLinkActive="active-link">
        <h3 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">
          <b>Discover Time in Every Bite </b>
        </h3>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Enjoy convenience by ordering from home, saving time for what matters
        most.
      </p>
    </div>
  </div>

  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-10 mb-4 text-center"
  >
    <a routerLink="/main" routerLinkActive="active-link">
      <div class="flex justify-center">
        <div class="w-56 h-56">
          <img
            class="rounded-full w-full h-full object-cover"
            src="/assets/images/24hclock.png"
            alt="24 Hours Clock"
          />
        </div>
      </div>
    </a>
    <div class="p-5">
      <a routerLink="/main" routerLinkActive="active-link">
        <h3 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">
          <b>From Dawn to Dusk, Your Menu Never Closes</b>
        </h3>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Access a world of choices 24/7, tailored to your cravings day or night.
      </p>
    </div>
  </div>

  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-10 mb-4 text-center"
  >
    <a routerLink="/main" routerLinkActive="active-link">
      <div class="flex justify-center">
        <div class="w-56 h-56">
          <img
            class="rounded-full w-full h-full object-cover"
            src="/assets/images/orderfood.jpg"
            alt="Food Delivery Bag"
          />
        </div>
      </div>
    </a>
    <div class="p-5">
      <a routerLink="/main" routerLinkActive="active-link">
        <h3 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">
          <b>Your Order, Your Rules: Customize, Delight, Repeat</b>
        </h3>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Dive into a diverse selection, tailor your order, and savor every
        personalized bite.
      </p>
    </div>
  </div>
</div>
