<div class="flex flex-col">

  <div class="container">
  
  <app-navbar></app-navbar>
  
  
  </div>
  
  <div class="mt-16" >
<div
  class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat bg-center lg:mt-0 mb-10 m-60  p-4 m-0"
  style="background-image: url(/assets/images/FAQS.avif); height: 500px"
>
  <div
    class="relative bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
  ></div>
</div>

<div class="m-24 text-gray-700">
  <h1>Frequently Asked Questions <b>💭</b></h1>
  <div class="m-10 text-gray-600">
    <h2>What times can I order?</h2>
    <p class="m-6 text-gray-500 ">
      We deliver every day from morning until late at night, and different
      restaurants will have different opening times. Visit the homepage to see
      which stores are available in your area.
    </p>
  </div>
  <div class="m-10 text-gray-600">
    <h2>Is there a minimum spend?</h2>
    <p class="m-6 text-gray-600">
      The minimum order amount can vary depending on which restaurant you’re
      ordering from. If there’s a minimum order amount, you’ll be informed at
      checkout before you place your order.
    </p>
  </div>
  <div class="m-10 text-gray-600">
    <h2>What if I want to cancel my order?</h2>
    <p class="m-6 text-gray-500">
      As long as the restaurant has not yet started preparing your order, you're
      able to cancel your order in order help. If the restaurant has already
      started preparing your order and you want to cancel, please get in touch
      with us, you can do this in order help as well.
    </p>
  </div>
  <div class="m-10 text-gray-600">
    <h2>What if my order is late?</h2>
    <p class="m-6 text-gray-500">
      Sometimes things outside of a rider’s control can cause a delay. Where we
      can, we will always try and proactively call you if we become aware that
      your order might not arrive within the estimated time of delivery, and our
      team will work to get your order to you as quickly as possible.
    </p>
  </div>
  <div class="m-10 text-gray-600">
    <h2>What if I have allergies?</h2>
    <p class="m-6 text-gray-500">
      If you have specific allergies and are concerned about any items on a
      menu, please check the restaurant notes section of the restaurant menu and
      for further information contact the restaurant directly prior to ordering.
      Increasing numbers of Partner Restaurants will be displaying dish by dish
      allergens information. Where that information is not available or if you
      have further questions, please contact the restaurant prior to ordering if
      you have an allergy.
    </p>
  </div>
</div>
<app-footer> </app-footer>

</div>
</div>