<div class="mx-14 my-40">
<h1>
  Explore
  <div class="name inline-block mx-1">We Feed</div>
  cities
</h1>
<div class="max-w-full overflow-x-auto justify-center mt-20 ">
  

  <ul class="flex flex-wrap p-0 ml-20 list-none">
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-2"
    >
      <button
        class="bg-white hover:bg-gray-200 hover:border-teal-700 hover:text-teal-700 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Athens
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-2"
    >
      <button
        class="bg-white hover:bg-gray-200 hover:border-teal-700 hover:text-teal-700 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Chalkida
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-2"
    >
      <button
        class="bg-white hover:bg-gray-200 hover:border-teal-700 hover:text-teal-700 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Heraklion
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-8"
    >
      <button
        class="bg-white hover:bg-gray-200 hover:border-teal-700 hover:text-teal-700 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Ioannina
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-8"
    >
      <button
        class="bg-white hover:bg-gray-200 hover:border-teal-700 hover:text-teal-700 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Kavala
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-8"
    >
      <button
        class="bg-white hover:bg-gray-200 hover:border-teal-700 hover:text-teal-700 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Lamia
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-2"
    >
      <button
        class="bg-white hover:bg-gray-200 hover:border-teal-700 hover:text-teal-700 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Larissa
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-2"
    >
      <button
        class="bg-white hover:bg-gray-200 hover:border-teal-700 hover:text-teal-700 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Patra
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-2"
    >
      <button
        class="bg-white hover:bg-gray-200 hover:border-teal-700 hover:text-teal-700 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Rethymno
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-8"
    >
      <button
        class="bg-white hover:bg-gray-200 hover:border-teal-700 hover:text-teal-700 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Serres
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-8"
    >
      <button
        class="bg-white hover:bg-gray-200 hover:border-teal-700 hover:text-teal-700 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Thessaloniki
      </button>
    </li>
    <li
      class="p-2 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-8"
    >
      <button
        class="bg-white hover:bg-gray-200 hover:border-teal-700 hover:text-teal-700 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Volos
      </button>
    </li>
  </ul>
</div>
</div>