<div class="mx-14 my-40">
  <h1>
    Explore
    <div class="name inline-block mx-1">We Feed</div>
    cities
  </h1>
  <div class="max-w-full overflow-x-auto justify-center mt-10">
    <div class="flex">
      <div
        class="relative overflow-hidden rounded-md bg-cover bg-no-repeat bg-center lg:mb-10 m-20 p-14 ml-24"
        style="
          background-image: url(/assets/images/GreeceMap.png);
          height: 500px;
          width: 900px;
        "
      ></div>
      <ul class="flex flex-wrap p-0 mt-20 ml-20">
        <li
          class="p-0 flex-shrink-0 w-1/3 max-w-1/3 box-border box-content px-2 text-center m-1"
        >
          <a routerLink="/main" routerLinkActive="active-link">
            <button
              class="bg-white hover:bg-gray-200 hover:border-yellow-600 hover:text-yellow-600 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Serres
            </button>
          </a>
        </li>
        <li
          class="p-0 flex-shrink-0 w-1/3 max-w-1/3 box-border box-content px-2 text-center m-1"
        >
          <a routerLink="/main" routerLinkActive="active-link">
            <button
              class="bg-white hover:bg-gray-200 hover:border-yellow-600 hover:text-yellow-600 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Kavala
            </button>
          </a>
        </li>
        <li
          class="p-0 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-1"
        >
          <a routerLink="/main" routerLinkActive="active-link">
            <button
              class="bg-white hover:bg-gray-200 hover:border-yellow-600 hover:text-yellow-600 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Ioannina
            </button>
          </a>
        </li>
        <li
          class="p-0 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-1"
        >
          <a routerLink="/main" routerLinkActive="active-link">
            <button
              class="bg-white hover:bg-gray-200 hover:border-yellow-600 hover:text-yellow-600 text-gray-800 font-semibold py-2 px-3 border border-gray-400 rounded shadow"
            >
            Thessaloniki
            </button>
          </a>
        </li>
        <li
          class="p-0 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-1"
        >
          <a routerLink="/main" routerLinkActive="active-link">
            <button
              class="bg-white hover:bg-gray-200 hover:border-yellow-600 hover:text-yellow-600 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Larissa
            </button>
          </a>
        </li>
        <li
          class="p-0 flex-shrink-0 w-1/3 max-w-1/3 box-border box-content px-2 text-center m-1"
        >
          <a routerLink="/main" routerLinkActive="active-link">
            <button
              class="bg-white hover:bg-gray-200 hover:border-yellow-600 hover:text-yellow-600 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Volos
            </button>
          </a>
        </li>
        <li
          class="p-0 flex-shrink-0 w-1/3 max-w-1/3 box-border box-content px-2 text-center m-1"
        >
          <a routerLink="/main" routerLinkActive="active-link">
            <button
              class="bg-white hover:bg-gray-200 hover:border-yellow-600 hover:text-yellow-600 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Lamia
            </button>
          </a>
        </li>
        <li
          class="p-0 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-1"
        >
          <a routerLink="/main" routerLinkActive="active-link">
            <button
              class="bg-white hover:bg-gray-200 hover:border-yellow-600 hover:text-yellow-600 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Patra
            </button>
          </a>
        </li>
        <li
          class="p-0 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-1"
        >
          <a routerLink="/main" routerLinkActive="active-link">
            <button
              class="bg-white hover:bg-gray-200 hover:border-yellow-600 hover:text-yellow-600 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Chalkida
            </button>
          </a>
        </li>
        <li
          class="p-0 flex-shrink-0 w-1/4 max-w-1/4 box-border box-content px-2 text-center m-1"
        >
          <a routerLink="/main" routerLinkActive="active-link">
            <button
              class="bg-white hover:bg-gray-200 hover:border-yellow-600 hover:text-yellow-600 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Athens
            </button>
          </a>
        </li>
        <li
          class="p-0 flex-shrink-0 w-1/3 max-w-1/3 box-border box-content px-2 text-center m-1"
        >
          <a routerLink="/main" routerLinkActive="active-link">
            <button
              class="bg-white hover:bg-gray-200 hover:border-yellow-600 hover:text-yellow-600 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Rethymno
            </button>
          </a>
        </li>
        <li
          class="p-0 flex-shrink-0 w-1/2 max-w-1/2 box-border box-content px-2 text-center m-1"
        >
          <a routerLink="/main" routerLinkActive="active-link">
            <button
              class="bg-white hover:bg-gray-200 hover:border-yellow-600 hover:text-yellow-600 text-gray-800 font-semibold py-2 px-2 border border-gray-400 rounded shadow"
            >
              Heraklion
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
