<div class="card"  style="background-color:rgb(238, 227, 227); border-color:rgb(73, 49, 49); color:rgb(2, 2, 2); margin: 5px; border-radius: 1%; " >
    <img src= "{{productdetails.image}}" class="card-img-top" height="400px" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{productdetails.title}}</h5>
      <p class="card-text" class="overflow-scroll"  style="height: 150px; overflow-y: scroll;">{{productdetails.description}}</p>
      <h5 class="card-title">{{productdetails.price}}</h5>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
