<div class="flex flex-col">

  <div class="container">
  
  <app-navbar></app-navbar>
  
  
  </div>
  
  <div class="mt-16" >
<div
  class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat bg-center p-4 m-0"
  style="background-image: url(/assets/images/howItWorks.png); height: 590px"
>
  <div
    class="relative bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
  ></div>
</div>

<div class="m-24 text-gray-700">
  <h1>
    How
    <div class="name inline-block mx-1">We Feed</div>
    works
  </h1>
  <div class="m-10 text-gray-600">
    <h2>Place your order 🧾</h2>
    <p class="m-6 text-gray-500">
      Simply enter your address in the search field of delivery address to find
      all the great restaurants delivering in your area. Choose the store you
      prefer and have a look at the menu. Select your food choices and place
      them to your order cart. You can choose between two payment methods; cash
      at your door or card during the ordering process.
    </p>
  </div>
  <div class="m-10 text-gray-600">
    <h2>Your order is being processed ⌛</h2>
    <p class="m-6 text-gray-500">
      Once you complete your order, it is automatically printed in the store.
      You are immediately informed on your screen that the order has been
      accepted. Once the restaurant receives your order, they will get to work
      preparing your delicious meal and then carefully package it.
    </p>
  </div>
  <div class="m-10 text-gray-600">
    <h2>Your order has arrived 🍴</h2>
    <p class="m-6 text-gray-500">
      When it's all ready to go, a store's or a We Feed rider will pick it up
      and bring it to you. We'll have your order with you in as little as 30-45
      minutes. You can now enjoy your meal quickly and effortlessly!
    </p>
  </div>
</div>
<app-footer> </app-footer>

</div>
</div>