<div class="flex">
  <div class="w-80 h-auto bg-gray-100 border-gray-600 mx-auto px-8 space-x-1 ">
      <h1>Filters</h1>
  </div>
  <div class="flex-auto w-64 ...">
    <div>
      @for (store of stores; track $index) {
      <button
        class="w-full max-w-lg bg-white hover:bg-offwhite hover:border-gray-light border border-gray-dark rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 "
      >
        <img class="rounded-t-sm w-full h-64" [src]="store.image" alt="Image of store" />
        <div class="p-5">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            {{ store.name }}
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            {{ store.rating.rate }} / 5
            <span> ( {{ store.rating.count }} )</span>
          </p>
        </div>
      </button>

      }
    </div>
  </div>
</div>
